
*
!.gitignore
!.gitattributes
!/README.md
!/packages/README.md
!/LICENSE
!/ext/CMakeLists.txt
!/ext/*/CMakeLists.txt
!/packages/CMakeLists.txt
!/packages/*/CMakeLists.txt
!/CMakeLists.txt
!**/
!/packages/**/*.cpp
!/packages/**/*.hpp
