
*
!.gitignore
!.gitattributes
!/.travis.yml
!/README.md
!/packages/README.md
!/LICENSE
!/ext/CMakeLists.txt
!/ext/gtest/CMakeLists.txt
!/ext/utf8cpp/CMakeLists.txt
!/packages/CMakeLists.txt
!/packages/*/CMakeLists.txt
!/CMakeLists.txt
!**/
!/packages/**/*.cpp
!/packages/**/*.hpp
